/* General body and HTML styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for sign-in section */
.signinbackground {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid rgb(235, 206, 168); /* Border around the sign-in section */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Center align the section */
    padding: 80px;
}

h2 {
    text-align: center;
    color: rgb(235, 206, 168);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* margin-right: 40px;
    margin-left: 40px; */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(235, 206, 168);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(167, 114, 44);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.loginbackground {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid rgb(235, 206, 168); /* Border around the sign-in section */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Center align the section */
    padding: 80px;
}